
page-sign-in {
  .scroll-content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40d2ff+0,40aaff+21,40aaff+41,40d2ff+100 */
    background: #40d2ff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #40d2ff 0%, #40aaff 21%, #40aaff 41%, #40d2ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #40d2ff 0%,#40aaff 21%,#40aaff 41%,#40d2ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #40d2ff 0%,#40aaff 21%,#40aaff 41%,#40d2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40d2ff', endColorstr='#40d2ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

  @media (min-width: 1200px) {
    .scroll-content{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .card{
      margin: auto;
      width:400px;
    }
  }
}
