@media (min-width: 1200px) {
  .menu{
    .menu-inner{
      position: absolute !important;
      top:0 !important;
      left:0 !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;


    }

    ion-backdrop{
      display: none !important;
    }


  }



  ion-menu{
    width: $menu-width;
  }

  .menu + .main-nav{
    left: $menu-width;

    & > .ion-page{
      width: calc(100% - #{$menu-width}) !important;
    }
  }

  button[menuToggle]{
    display: none !important;
  }

  ion-menu.menu{
    display: block !important;
  }

  .md .menu{
    ion-content{
      top: $toolbar-md-height;
    }
  }

  .ios .menu{
    ion-content{
      top: $toolbar-ios-height;
    }
  }

  .wp .menu{
    ion-content{
      top: $toolbar-wp-height;
    }
  }
}

